:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  --color-gradient-1: #fff;
  --color-gradient-1: #fff;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: #fff;
  background-image: radial-gradient(circle farthest-side at 200px 100px, rgba(45, 197, 202, 0.411) 3%, rgba(94, 141, 211, 0.281) 20%, #130f0f36 40%),
    radial-gradient(circle farthest-side at 80% 400px, rgba(23, 139, 255, 0.801) 0%, #0000662f 40%),
    radial-gradient(circle farthest-side at 20% 80%, rgba(255, 201, 23, 0.288) 0%, #0000662f 300px),
    linear-gradient(to bottom, rgb(80, 5, 80), #242424);
}

button {
  width: 50%;
  height: 45px;
  color: #d2d3e9;
  border-radius: 6px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(36, 40, 51);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #6c9ed6;
}

button:focus,
button:focus-visible {
  outline: 1px solid #d2d3e9;
}